.audio-video {
    padding: 20px;
    text-align: center;
}

.audio-video h2{
    text-align: center;
}
.audio-video > .audio-player,
.audio-video > .video-player{
    margin: 20px 0;
}
.audio-video > .video-player{
    width: 40%;
    border-radius: 10px;
}
.audio-video > .download > a{
    text-decoration: none;
    padding: 10px 30px;
    box-shadow: 1px 2px 5px #cad7ff;
    border-radius: 20px;
    background: #fff;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    transition: 500ms;
}
.audio-video > .download > a:hover{
    box-shadow: 2px 5px 10px #003efa;
    border-radius: 20px;
    background: #000;
    color: #fff;
    transition: 500ms;
}
