@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
img{
    max-width: 100%;
}
.primary-btn{
    padding: 15px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: 400ms;
    border: none;
}
.primary-btn:hover,
.primary-btn:active{
    background: #ff0000;
    color: #fff;
    transition: 400ms;
    border: none;
}
.container{
    width: 1140;
}