#banner{
    background-image: url('../images/banner/banner2.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0 200px;
    box-sizing: border-box;
}
#banner h2{
    width: 500px;
    color:#151414;
    text-align: right;
    font-size: 60px;
    font-weight: 700;
}
#banner p{
    padding: 20px 0 30px;
    width: 450px;
    color:#444343;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
#banner button{
    border: none;
}
#banner button a{
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
}

.info > .main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.women{
    width: 35%;
    padding-right: 30px;
}

.info-content{
    width: 30%;
    padding-left: 30px;
}
.info-content h2{
    padding-top: 200px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.info-content p{
    color:  #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 10px 0;
}
.info-content ul{}
.info-content ul > li{
    list-style: none;
    position: relative;
    padding-left: 30px;
    color:#444343;
    font-size: 15px;
    line-height: 26px;
}
.info-content ul > li::before{
    font-family: "FontAwesome";
    content: "\f00c";
    position: absolute;
    top: 0;
    left: 0;
    color: #16D887;
    font-size: 20px;
}