#banner{
    background-image: url('../images/banner/banner2.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0 200px;
    box-sizing: border-box;
}
#banner h2{
    width: 500px;
    color:#151414;
    text-align: right;
    font-size: 60px;
    font-weight: 700;
}
#banner p{
    padding: 20px 0 30px;
    width: 450px;
    color:#444343;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
#banner button{
    border: none;
}
#banner button a{
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 200ms;
}
#banner button a:hover{
    background: #fff;
    color: #F15B22;
    transition: 200ms;
    outline: 1px solid #F15B22;
}

.info > .main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.women{
    width: 35%;
    padding-right: 30px;
}

.info-content{
    width: 30%;
    padding-left: 30px;
}
.info-content h2,
#my-planes h2{
    padding-top: 200px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.info-content p{
    color:  #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 10px 0;
}
.info-content ul{}
.info-content ul > li{
    list-style: none;
    position: relative;
    padding-left: 30px;
    color:#444343;
    font-size: 15px;
    line-height: 26px;
}
.info-content ul > li::before{
    font-family: "FontAwesome";
    content: "\f00c";
    position: absolute;
    top: 0;
    left: 0;
    color: #16D887;
    font-size: 20px;
}
#my-planes h2{
    text-align: center;
    padding: 100px 0 30px;
}
.plane-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.plane-info{
    padding: 30px;
    text-align: center;
}
.plane-info > .plane-img{
    width: 58.958px;
    height: 58.958px;
    padding-bottom: 10px;
}
.plane-info > .plane-title{
    color: #151414;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 0;
}
.plane-info > .plane-description{
    color: #737272;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

#call-to-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#call-to-action > div{
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/watch.png');
    background-position: center center;
    background-size: cover;
    padding: 50px;
    height: 300px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
#call-to-action > div::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/gradient2.png');
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}
#call-to-action h2{
    width: 450px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}
#call-to-action{
    border: none;
    margin-top: 30px;
}
#call-to-action a{
    width: 110px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    font-size: 15px;
    font-weight: 600;
    transition: ease-in-out 200ms;
    transform: scale(0.95);
}
#call-to-action a:hover{
    background: #F15B22;
    color: #fff;
    transition: ease-in-out 200ms;
    outline: 1px solid #fff;
    transform: scale(1);
}