*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
p, a{
    font-family: Arial, Helvetica, sans-serif !important;
}
img{
    max-width: 100%;
}
body{
    background: url('../images/body-background.png');
    background-position: center center;
    background-size: contain;
}
header, main{
    padding: 0px 100px;
}
#header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

#header-logo .logo{
    width: 30%;
}
#header-logo .banner{
    width: 65%;
}

#main-menu {
    background: url('../images/menu-background_.webp');
    background-position: left center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#main-menu ul{
    display: flex;
    flex-direction: row;
}
#main-menu ul li{
    list-style: none;
}
#main-menu ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: 300ms;
}
#main-menu ul li a:hover{
    background-color: #fff;
    color: #000;
    transition: 300ms;
}

#header-menu-search{
    display: flex;
    flex-direction: row;
}
#header-menu-search input, #header-menu-search button{
    display: block;
    padding: 8px;
    margin-right: 4px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 300ms;
}
#header-menu-search button{
    background: #fff;
    cursor: pointer;
}
#header-menu-search button:hover,
#header-menu-search button:active
{
    background: #ff0000;
    color: #fff;
    transition: 300ms;
}