#latest-news{
    display: flex;
    padding: 15px 0;
}
.latest-news-left{
    width: 35%;
    display: flex;
}
.latest-news-images{
    position: relative;
    cursor: pointer;
}
.latest-news-images img{
    transition: 300ms;
}
.latest-news-images:hover img{
    filter: brightness(0.5) blur(1px);
    transition: 300ms;
}
.latest-news-images h2{
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    position: absolute;
    top: -20px;
    left: 0;
}
.latest-news-images:hover h2{
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
    color: #fff;
    transition: .2s;
}
.latest-news-images p{
    width: 90%;
    padding: 0 20px;
    position: absolute;
    top: 150px;
    left: 0;
    transition: 300ms;

    opacity: 0;
    visibility: hidden;

    line-height: 22px;
    color: #fff;
}
.latest-news-images:hover p{
    top: 100px;
    transition: 300ms;
    opacity: 1;
    visibility: visible;
}


.latest-news-right{
    width: 65%;
}

.latest-news-list{
    display: flex;
    flex-wrap: wrap;
}
.latest-news-item{
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
}
.latest-news-item:hover{
    background-color: #00000016;
}
.latest-news-item .list-img{
    width: 40%;
}
.latest-news-item .list-img > img{
    border-radius: 10px;
}
.latest-news-item .list-caption{
    width: 60%;
    padding: 3px;
}
.latest-news-item .list-caption h2{
    font-size: 13px;
} 
.latest-news-item .list-caption P{
    font-size: 13px;
} 